<button type="submit" class="btn"><a class="new-post-button" href="/dashboard/new">Add New Post</a></button>

<h1 class="your-posts-title">Your Posts</h1>



{{#if posts.length}}
<section>
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
    {{/each}}
    
<div class="giphy">
  <iframe src="https://giphy.com/embed/3oriNN5kkARo7ZAhuE" width="250" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/dance-hot-queen-3oriNN5kkARo7ZAhuE"></a></p>
</div>
</section>
{{/if}}


<script src="/javascript/add-post.js"></script>