<button type="submit" class="btn"><a class="new-post-button" href="/dashboard/new">Add New Post</a></button>

<h1 class="your-posts-title">Your Posts</h1>



{{#if posts.length}}
<section>
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
    {{/each}}
</section>
{{/if}}


<script src="\javascript\add-post.js"></script>