<form class="login-form">
  <div>
    <label for="username-login">username:</label>
    <input type="text" class="username-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" class="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<a class="login-link sign-up" href="/signup">Sign up here!</a>

<script src="./javascript/login.js"></script>